Python==3.8.0
asgiref==3.2.3
Django==3.0.3
virtualenv==16.7.9
html==5
css==3
bootstrap==4
jquery==3.4.1
pip==20.0.2
boto3==1.11.15
botocore==1.14.15
django-storages==1.9.1
docutils==0.15.2
jmespath==0.9.4
mysqlclient==1.4.6
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8

# database used
  mysql 
# software used to test on local server
  xaamp==3.2.4
