{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script>
      setTimeout(function() {
        $("#mx").remove();
      }, 2000);
    </script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--home icon  -->
        <a class="navbar-brand" href="{% url 'room_data'%}">
          <img
            src="{% static 'images/admin.png' %}"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt=""
          />
          Admin
        </a>

        <!-- toggler  -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar links  -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <!--checks if user is successfully loged in  -->
            {% if user.is_authenticated %}
            <!-- home -->
            <a class="nav-item nav-link text-info" href="/"
              >Home</a
            >
            <!-- add room  -->
            <a class="nav-item nav-link text-primary" href="add"
              >Add_New_Room</a
            >

            <!-- logout  -->
            <a class="nav-item nav-link text-success" href="#"
              >Hello {{user.username}}</a
            >
            <a class="nav-item nav-link text-danger" href="{% url 'user_logout' %}">logout</a>

            {% endif %}
          </div>
        </div>
      </nav>
    </header>
    <!-- messages -->
    <div>
      {% if messages %} {% for mes in messages %}
      <div class="alert alert-success text-center" role="alert" id="mx">
        {{mes}}
      </div>
      {% endfor %} {% endif %}
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card card-body">
            <h4 class="text-center text-info">Booked rooms</h4>
            <table class="table">
              <tr>
                <th>room no</th>
                <th>Advanced Booking</th>
                <th>Room Available form time</th>
                <th>Room Available till time</th>
                <th>Booked by</th>
              </tr>

              {% for x in booking %}
              <tr>
                <td>{{x.new.room_no}}</td>
                <td>{{x.new.days}} days</td>
                <td>{{x.new.check_in_time}}</td>
                <td>{{x.new.check_out_time}}</td>
                <td><a
                  href="{% url 'user_profile' x.customer.id %}"
                  class="btn btn-block btn-outline-primary"
                  >{{x.customer.username}}</a
                ></td>
                
              </tr>
              {% endfor %}
            </table>

          </div>
        </div>
      </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
